@media (min-height: 199.99px) and (min-width: 149.99px) {
    .video {
        width: 240px;
        height: 320px;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.3em;
    }
}

.container-panel {
    max-width: 500px;
    margin: 0 auto;
}

div#video-panel {
    background: #333;
}

#unrupturl {
    position: absolute;
    left: -9999px;
}


@media (min-height: 699.99px) and (min-width: 299.99px) {
    .video {
        width: 240px;
        height: 604px;
    }
}

@media (min-height: 650.99px) and (min-width: 350.99px) {
    .video {
        width: 309px;
        height: 550px;
    }
}

@media (min-height: 799.99px) and (min-width: 599.99px) {
    .video {
        width: 480px;
        height: 640px;

    }
}

@media (min-height: 1023.99px) and (min-width: 799.99px) {
    .video {
        width: 720px;
        height: 960px;
    }
}

@media (min-height: 1299.99px) and (min-width: 999.99px) {
    .video {
        width: 960px;
        height: 1280px;
    }
}

video#out {
    background: #222;
}

#other-webcam{
/*    transform: rotateY(180deg);*/
    width: 100%;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    margin: auto;
    background-size: contain;
    background-position: center;
}

span.badge.badge-person.badge-secondary {
    position: absolute;
}

#out {
    width: 100%;
}

.video #my-webcam {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 150px;
    z-index: 1000;
/*    background: rgba(0,0,0,.1);*/
    height: 118px;
}

#in {
    width: 100%;
}

.badge-speak{
    display: none;
}

.video canvas#nearscope, .video canvas#farscope {
    z-index: 1000;
    /* background: rgba(0,0,0,.1); */
    position: absolute;
    top: 40%;
    /*    left: 45px;*/
    /*    width: 60px;*/
}

canvas#nearscope, canvas#farscope, canvas#earscope {
    width: 100%;
/*    width: 60px;*/
    height: 40px;
}

.video canvas#nearscope{
    /* max-width: 50%; */
    /* background: blue; */
}

.video canvas#farscope{
    /* width: 50%; */
    /* left: 35%; */
    top: 0;
    /* background: red; */
}


#audioInfo {
    position: relative;

}

#otherUser {
    position: relative;
    background: #333;
}

#chosenAction {
    clear: both;
    text-align: center;
}


.playpause {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-position: center;
    z-index: 99999;
}

#message_holder {
    display: none;
}

#message_holder.flash-message {
    display: block;
}

.card .card-body{
    min-height: 110px;
}

.card[mode="speaking"] .card-body{
    border: 10px solid greenyellow;
}

.badge.badge-secondary{
    display: none;
}

.no-side-margin{
    margin-left: auto;
    margin-right: auto;
}
